VITE_SUPABASE_URL=https://kvowqsyvpzgqrbuahhdk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt2b3dxc3l2cHpncXJidWFoaGRrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgzMjc2NDAsImV4cCI6MjEwMzkwMzY0MH0.KrpE95I0lYHFzzZXij2bdBuqOkNlIbJL3VbuBzVE76o
